<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-3.0.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">

	<!-- Use @Component annotations for bean definitions -->
	<context:component-scan base-package="com.csc.fresher.java.controller" />
	<!-- Enable @Transactional annotation -->
	<tx:annotation-driven proxy-target-class="true" />
	<!-- Use @Controller annotations for MVC controller definitions -->
	<mvc:annotation-driven />
	<mvc:default-servlet-handler />

	<!-- View resolver -->

	<!-- Resolves views selected for rendering by @Controllers to .jsp resources 
		in the /WEB-INF/views directory -->

	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.UrlBasedViewResolver">
		<property name="viewClass">
			<value>
				org.springframework.web.servlet.view.tiles2.TilesView
			</value>
		</property>
	</bean>
	<bean id="tilesConfigurer"
		class="org.springframework.web.servlet.view.tiles2.TilesConfigurer">
		<property name="definitions">
			<list>
				<value>/WEB-INF/layouts/tiles.xml</value>
			</list>
		</property>
	</bean>


	<!-- MySQL Datasource with Commons DBCP connection pooling -->
	<bean class="org.apache.commons.dbcp.BasicDataSource" id="dataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost/mydb" />
		<property name="username" value="root" />
		<property name="password" value="root" />
	</bean>

	<!-- EntityManagerFactory -->
	<bean
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean"
		id="entityManagerFactory">
		<property name="persistenceUnitName" value="persistenceUnit" />
		<property name="dataSource" ref="dataSource" />

	</bean>
	<!-- For my resources -->
	<bean id="messageSource"
		class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basename" value="messages" />
	</bean>

	<!-- Transaction Manager -->
	<bean class="org.springframework.orm.jpa.JpaTransactionManager"
		id="transactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory" />

	</bean>
	<!--Declare DAO, and Service for Spring can understand that you are using 
		that -->
	<!--User -->
	<bean name="userService" class="com.csc.fresher.java.service.UserService"></bean>
	<bean name="userDAO" class="com.csc.fresher.java.dao.UserDAO"></bean>

	<!--Transaction -->
	<bean name="transactionService" class="com.csc.fresher.java.service.TransactionService"></bean>
	<bean name="transactionDAO" class="com.csc.fresher.java.dao.TransactionDAO"></bean>

	<!--User Role -->
	<bean name="userRoleService" class="com.csc.fresher.java.service.UserRoleService"></bean>
	<bean name="userRoleDAO" class="com.csc.fresher.java.dao.UserRoleDAO"></bean>

	<!--Saving Account -->
	<bean name="savingAccountService" class="com.csc.fresher.java.service.SavingAccountService"></bean>
	<bean name="savingAccountDAO" class="com.csc.fresher.java.dao.SavingAccountDAO"></bean>

	<!-- Customer -->
	<bean name="customerService" class="com.csc.fresher.java.service.CustomerService"></bean>
	<bean name="customerDAO" class="com.csc.fresher.java.dao.CustomerDAO"></bean>

	<!-- InterestRate -->
	<bean name="interestRateService" class="com.csc.fresher.java.service.InterestRateService"></bean>
	<bean name="interestRateDAO" class="com.csc.fresher.java.dao.InterestRateDAO"></bean>

	<bean id="hashCode" class="com.csc.fresher.java.hash.HashCode"></bean>






	<!-- FOr job Schedule -->
	<bean id="runMeTask" class="com.csc.fresher.java.job.RunMeTask"></bean>
	<bean name="runMeJob"
		class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="jobClass" value="com.csc.fresher.java.job.RunMeJob"></property>
		<property name="durability" value="true" />
		<property name="jobDataAsMap">
			<map>
				<!-- <entry key="runMeTask" value-ref="runMeTask"></entry> -->
				<entry key="savingAccountDAO" value-ref="savingAccountDAO"></entry> 
			</map>
		</property>

	</bean>

	<!-- Simple Trigger, run every 5 seconds -->
	<bean id="simpleTrigger"
		class="org.springframework.scheduling.quartz.SimpleTriggerFactoryBean">
		<property name="jobDetail" ref="runMeJob" />
		<property name="repeatInterval" value="10000" />
		<property name="startDelay" value="1000" />
	</bean>
	<bean id="applicationContextProvder"
                        class="com.csc.fresher.java.job.ApplicationContextProvider"/>

	<!-- Cron Trigger, run every 5 seconds
	 <bean id="cronTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean"> 
		<property name="jobDetail" ref="runMeJob" /> 
		<property name="cronExpression" 
		value="0/5 * * * * ?" /> </bean> -->

	<!--Below trigger use for when connect database but fail -->
	<!-- <bean id="firstTrigger" class="com.csc.fresher.java.job.PersistableCronTriggerFactoryBean"> 
		<property name="jobDetail" ref="runMeJob" /> <property name="cronExpression" 
		value="0/5 * * * * ?" /> </bean> -->
	<!-- <bean id="firstTrigger" class="com.csc.fresher.java.job.PersistableCronTriggerFactoryBean"> 
		<property name="jobDetail" ref="runMeJob" /> <property name="repeatInterval" 
		value="5000" /> </bean> -->

	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">

		<property name="jobDetails">
			<list>
				<ref bean="runMeJob" />
			</list>
		</property>

		<property name="triggers">
			<list>
				<ref bean="simpleTrigger" />

			</list>
		</property>
		
	</bean>


</beans>