

.form_transaction input,select
{
	width:300px;

}

#select_option_setwidth
{
	width: 300px;
}
#show {
	margin-top:10px;
	margin-bottom: 20px;
	padding:5px;
	text-align: center;
	clear: both;
	background-color: #0099FF;
	color: #FFF;
}

#hide {
	display: none;
	margin-bottom:10px; 
}

#search {
	clear: both;
}

#text {
	width: 500px;
	height: 400px;
	float: left;
}

#linked {
	float: left;
	width: 500px;
	border: .1em solid #000;;
	margin-left: 5px;
	min-height: 400px;
	padding: 10px;
}

#button_center {
	float: left;
}

#button_center button {
	font-size: 18pt;
	margin: 10px;
}

#button_center_temp {
	float: left;
}

#button_center_temp button {
	font-size: 18pt;
	margin: 10px;
}

#linked button {
	font-size: 18pt;
	margin: 40px;
}

.error{
	color: crimson;
}