
#show {
	margin-top:10px;
	margin-bottom: 20px;
	padding:5px;
	text-align: center;
	clear: both;
	background-color: #0099FF;
	color: #FFF;
}

#hide {
	display: none;
	margin-bottom:10px; 
}


.popupContainerGetTransactions {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .5);
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: 9999;
	display: none;
}

.popupGetTransactions{
	background-color: white;
	width: 80%;
	height: 80%;
	position: absolute;
	left: 0px;
	right: 0px;
	margin: auto;
	padding: 1%;
	top: 50px;
	border-radius: 5px;
	box-shadow: 1px 1px 5px black;
}
button.popupCloseButtonGetTransactions {
	font-family: cursive;
	color: crimson;
	position: absolute;
	/* bottom: 10%; */
	top: 1%;
	right: 1%;
	border: none;
	background: none;
}
.popupContainerCreateTransaction {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .5);
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: 9999;
	display: none;
}

.popupCreateTransaction {
	background-color: white;
	width: 80%;
	height: 80%;
	position: absolute;
	left: 0px;
	right: 0px;
	margin: auto;
	padding: 1%;
	top: 50px;
	border-radius: 5px;
	box-shadow: 1px 1px 5px black;
}

.popupContainer {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .5);
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: 9999;
	display: none;
}

.popup {
	background-color: white;
	width: 70%;
	height: 93%;
	position: absolute;
	left: 0px;
	right: 0px;
	margin: auto;
	padding: 1%;
	top: 20px;
	border-radius: 5px;
	box-shadow: 1px 1px 5px black;
}

button.popupCloseButton {
	font-family: cursive;
	color: crimson;
	position: absolute;
	/* bottom: 10%; */
	top: 1%;
	right: 1%;
	border: none;
	background: none;
}

.error{
	color: crimson;
}