* {
	margin: 0px;
	padding: 0px;
}

#cover_box {
	background-color: #CCFFFF;
	margin: 10px;
}

#content_left {
	float: left;
	border-style: solid;
	border-width: 1px;
	padding: 10px;
	margin-left: 5%;
}

#content_right {
	float: right;
	padding: 10px;
	border-style: solid;
	border-width: 1px;
	border-style: solid;
	margin-right: 5%;
	margin-bottom: 10px;
}

.myButton {
	-moz-box-shadow: 0px 1px 0px 0px #f0f7fa;
	-webkit-box-shadow: 0px 1px 0px 0px #f0f7fa;
	box-shadow: 0px 1px 0px 0px #f0f7fa;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #33bdef
		), color-stop(1, #019ad2));
	background: -moz-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background: -webkit-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background: -o-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background: -ms-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background: linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bdef',
		endColorstr='#019ad2', GradientType=0);
	background-color: #33bdef;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #057fd0;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: arial;
	font-size: 15px;
	font-weight: bold;
	padding: 6px 24px;
	text-decoration: none;
	text-shadow: 0px -1px 0px #5b6178;
}

.myButton:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #019ad2
		), color-stop(1, #33bdef));
	background: -moz-linear-gradient(top, #019ad2 5%, #33bdef 100%);
	background: -webkit-linear-gradient(top, #019ad2 5%, #33bdef 100%);
	background: -o-linear-gradient(top, #019ad2 5%, #33bdef 100%);
	background: -ms-linear-gradient(top, #019ad2 5%, #33bdef 100%);
	background: linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#019ad2',
		endColorstr='#33bdef', GradientType=0);
	background-color: #019ad2;
}

.myButton:active {
	position: relative;
	top: 1px;
}

.myButton a {
	text-decoration: none;
	color: white;
	list-style-type: none;
}

.mytable_wrapper
 {
	min-height: 560px;
}

.mytable {
	margin-top: 10px;
}

.mytable table {
	color: #333;
	font-family: sans-serif;
	font-size: .9em;
	font-weight: 300;
	text-align: left;
	line-height: 40px;
	border-spacing: 0;
	border: 1px solid #428bca;
	width: 500px;
	margin: 20px auto;
}

.mytable1 th {
	color: #3399CC;;
	background: #1b1e24;
	border-bottom: 4px solid #9ea7af;
	border-right: 1px solid #343a45;
	font-size: 15px;
	font-weight: 100;
	padding: 24px;
	text-align: left;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	vertical-align: middle;
}

.mytable1 th:first-child {
	border-top-left-radius: 3px;
}

.mytable1 th:last-child {
	border-top-right-radius: 3px;
	border-right: none;
}

.mytable1 tr {
	border-top: 1px solid #C1C3D1;
	border-bottom-: 1px solid #C1C3D1;
	color: #666B85;
	font-size: 16px;
	font-weight: normal;
	text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

.mytable1 tr:hover td {
	background: #4E5066;
	color: #FFFFFF;
	border-top: 1px solid #22262e;
	border-bottom: 1px solid #22262e;
}

.mytable1 tr:first-child {
	border-top: none;
}

.mytable1 tr:last-child {
	border-bottom: none;
}

.mytable1 tr:nth-child(odd) td {
	background: #EBEBEB;
}

.mytable1 tr:nth-child(odd):hover td {
	background: #4E5066;
}

.mytable1 tr:last-child td:first-child {
	border-bottom-left-radius: 3px;
}

.mytable1 tr:last-child td:last-child {
	border-bottom-right-radius: 3px;
}

.mytable1 td {
	background: #FFFFFF;
	padding: 20px;
	text-align: left;
	vertical-align: middle;
	font-weight: 250;
	font-size: 15px;
	text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
	border-right: 1px solid #C1C3D1;
}

.mytable1 td:last-child {
	border-right: 0px;
}

.mytable1 th.text-left {
	text-align: left;
}

.mytable1 th.text-center {
	text-align: center;
}

.mytable1 th.text-right {
	text-align: right;
}

.mytable1 td.text-left {
	text-align: left;
}

.mytable1 td.text-center {
	text-align: center;
}

.mytable1 td.text-right {
	text-align: right;
}

.css-input {
	padding: 6px;
	font-size: 18px;
	text-align: left;
	border-width: 4px;
	border-radius: 9px;
	border-style: groove;
	border-color: #41ddf2;
	background-color: #f2faff;
}

.css-input:focus {
	outline: none;
}